# this is the aliases file
# for documentation, run `man adn`, and find the section on aliases

# note: aliases are not recursive and are evaluated with no aliases present

# this is the server that's used when no server is specified
default:localhost(~/.adn/data/)

# this aliases localhost to localhost with a path.
localhost:localhost(~/.adn/data/)
# "here" is the current directory
here:localhost(./adn/)
# temp refreshes on reboot
temp:localhost(/tmp/adn/)
# some people prefer this
tmp:localhost(/tmp/adn)


# my (Carson's) public server
mee42.dev:https://adn.mee42.dev