# this is the aliases file
# for documentation, run `man adn`, and find the section on aliases

# note: aliases are not recursive and are evaluated with no aliases present

# this is the server that's used when no server is specified. You may want to switch this to a web server
default:localhost(/home/carson/.adn/data)

# when installed, there is a adnw executable as well, which calls adn with `-s web` and any additional arguments
web:https://adn.mee42.dev

# this aliases localhost to localhost with a path.
localhost:localhost(/home/carson/.adn/data)

# "here" is the current directory. You may want to have `./.adn/` instead
here:localhost(./adn/)

# temp is often deleted, so don't expect it to stay around long
temp:localhost(/tmp/adn/)
tmp:localhost(/tmp/adn)

# cache goes in ~/.cache, and is good for temporary big files (that won't fit into ram)
cache:localhost(~/.cache/adn/)

# A public server (the only one as of right now)
mee42.dev:https://adn.mee42.dev
mee42:https://adn.mee42.dev